/* Colours */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Font */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../font/The Rift Shop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0E0301;
    font-family: 'MyCustomFont', Arial, sans-serif;
}

/* Headings */
h1 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

h2 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}

/* Flex containers */
.points {
    width: 700px;
    height: 105px;
    /* border: 5px solid #00FF00;
    background: black; */
    position: absolute;
    top: 60px;
    left: 550px;
	padding-left: 10px;
	padding-bottom:5px;
    display: flex;
    align-items: end;
    justify-content: left;
}

.points h1 {
    margin: 0;
    font-size: 85px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Life counter */
.lives {
    width: 300px;
    height: 105px;
    /* border: 5px solid #00FF00;
    background: black; */
    position: absolute;
    top: 60px;
    left: 250px;
}

/* Carousel container */
.carousel {
    width: 1400px;
    height: 855px;
    /* border: 5px solid #00FF00; */
    top: 185px;
    left: 258px;
    right: 100px;
    padding: 15px;
    position: absolute;
}

/* Tiles */
.tileBtn.disabled {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: inset 0 0 10px #000;
}

/* Popovers */
.popover {
    width: 1400px;
    height: 855px;
    border: 0;
    background: black;
    position: absolute;
    top: 185px;
    left: 250px;
    bottom: 40px;
    right: 40px;

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: none;
    z-index: 999;
}

.popover.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Popover components */
.popover_cat_body {
    width: 100%;
    height: 550px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.popover_cat_body h1,
.popover_cat_body h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.popover_cat_img {
    width: 99%;
    height: 96%;
	top: 10px;
	left: 7px;
    /* border: 5px solid #00FF00; */
    position: absolute;
}

.popover_cat_img img,
.popover_question_body img,
.gameover_popover_gameoverBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popover_question_body {
    width: 100%;
    height: 305px;
    background-color: #000;
    position: absolute;
    top: 550px;
}

.popover_question_text {
    width: 97%;
    height: 170px;
    position: absolute;
	/* border: 5px solid #00FF00;
    background-color: #000; */
    top: 7px;
	left: 15px;
}

.popover_question_text h1 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}

.popover_question_text h2 {
    font-family: 'MyCustomFont', Arial, sans-serif;
	display: flex;
	justify-content: center;
    align-items: center; 
    font-size: 60px;
    color: #FFFFFF;
	text-align: center; 
}

.popover_answer {
    width: 560px;
    height: 70px;
	/* border: 5px solid #00FF00;
    background-color: #000; */
    position: absolute;
    left: 420px;
    bottom: 20px;
    display: none;
	text-align: center;
}

.popover_answer h1 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}

.popover_answer.show {
    display: block;
}

/* Popover buttons */
.popover_btnAnswer,
.popover_btnRight,
.popover_btnWrong,
.popover_btnSkip	{
    /* border: 5px solid #00FF00;
    background-color: #000; */
    object-fit: contain;
}

.popover_btnAnswer {
    width: 141px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 630px;
}

.popover_btnAnswer.hidden {
    display: none;
}

.popover_btnSkip {
    width: 141px;
    height: 70px;
    position: absolute;
    bottom: 120px;
    right: 40px;
}

.popover_btnRight {
    width: 141px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.popover_btnWrong {
    width: 141px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.popover_answer_multiA {
    width: 670px;
    height: 70px;
	/*border: 5px solid #00FF00;
    background-color: #000; */
    position: absolute;
    left: 30px;
    top: 70px;
	text-align: left;
}

.popover_answer_multiB {
    width: 670px;
    height: 70px;
	/*border: 5px solid #00FF00;
    background-color: #000; */
    position: absolute;
    right: 30px;
    top: 70px;
	text-align: left;
}

.popover_answer_multiC {
    width: 670px;
    height: 70px;
	/*border: 5px solid #00FF00;
    background-color: #000; */
    position: absolute;
    left: 30px;
    bottom: 100px;
	text-align: left;
}

.popover_answer_multiD {
    width: 670px;
    height: 70px;
	/*border: 5px solid #00FF00;
    background-color: #000; */
    position: absolute;
    right: 30px;
    bottom: 100px;
	text-align: left;
}

.popover_answer_multiA h2,
.popover_answer_multiB h2,
.popover_answer_multiC h2,
.popover_answer_multiD h2 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 50px;
    color: #FFFFFF;
}

.popover_screenshot {
    width: 500px;
    height: 500px;
    background-color: #000;
    position: absolute;
    top: 450px;
    left: 177px;
	opacity:1; 
	transition: opacity 1s ease;
	z-index: 9999;
	background:none;
}

.popover_screenshot img {
    opacity: 0;
}

.popover_screenshot img.show {
    opacity: 1;
}


/* Gameover popover */
.gameover_popover {
    display: none;
    width: 1400px;
    height: 855px;
    background: black;
    position: absolute;
    top: 185px;
    left: 250px;
    bottom: 40px;
    right: 40px;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: auto;
    z-index: 999;
    cursor: default;
}

.gameover_popover.show {
    display: flex;
}

.gameover_popover_gameoverBtn {
    width: 250px;
    height: 117px;
    position: absolute;
    top: 150px;
    left: 500px;
    border: 5px solid #00FF00;
    background-color: #000;
    display: block;
    cursor: pointer;
}

.gameover_popover_scoresBtn {
							width: 250px;
							height: 117px;
							position: absolute;
							top: 150px;
							left: 800px;
							border: 5px solid #00FF00;
							background-color: #000;
							display: block;
							cursor: pointer;
}

.popover_btnDismiss {
    width: 141px;
    height: 70px;
    position: absolute;
    bottom: 120px;
    right: 40px;
}

/* Buttons */
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
