/* Colours are as follows */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Basic functionalities of body */


@font-face 	{
			font-family: 'MyCustomFont';
			src: url('../font/The Rift Shop.otf') format('opentype');
			font-weight: normal;
			font-style: normal;
			}
body	{
		background-color: #0E0301;
		font-family: 'MyCustomFont', Arial, sans-serif;
		}		
		
h1		{
		font-family: 'MyCustomFont', Arial, sans-serif;
		font-size: 15p;
		color: #40291A;
		align-items: 
		}

h2		{
		font-family: 'MyCustomFont', Arial, sans-serif;
		font-size: 10p;
		color: #40291A;
		}
		
.body {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
}
			
.container_namechoice	{	
			width: 700px;
			height: 400px;
			position: absolute;
			top: 340px;
			left: 610px;
			border-color: #00FF00;
			object-fit: contain;
			background-color: #000000;
			display:block
			}

.container_namechoice img {
	width: 100%;
    height: 100%;
	object-fit: contain;
}

.container_text {
    width: 300px;
    height: 150px;
    position: absolute; 
    top: 20px;
    left: 200px;
    display: flex;             /* enable flex */
    justify-content: center;   /* horizontal center of block content */
    align-items: center;       /* vertical center of block content */
    
    text-align: center;        /* center each line of text */
    flex-direction: column;    /* stack multiple elements vertically if needed */
}

.container_entername	{	
						width: 300px;
						height: 50px;
						position: absolute;
						top: 200px;
						left: 200px;
						object-fit: contain;
						display:block;
						display: flex;             /* allow centering the image */
						justify-content: center;   /* center horizontally */
						align-items: center;       /* center vertically */
						}

.container_entername input 	{
							width: 80%;
							padding: 10px;
							font-size: 16px;
							margin-bottom: 20px;
							text-align: center;
							}

.container_readyBtn {
    width: 200px;
    height: 70px;
    position: absolute;
    top: 300px;
    left: 250px;
    display: flex;             /* allow centering the image */
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    overflow: hidden;          /* clip anything outside the container */
	display:none;
}

.container_readyBtn img {
    width: 100%;       /* scale to container width */
    height: 100%;      /* scale to container height */
    object-fit: contain; /* preserve aspect ratio */
    display: block;    /* remove inline spacing */
}

.popover_name {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 340px;
  left: 610px;
  display: none;         /* hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00FF00;
  text-align: center;
  z-index: 1000;
}

.popover_name.show {
  display: flex;         /* show when .show is added */
}


.popover_text 	{
				width: 300px;
				height: 150px;
				position: absolute; 
				top: 20px;
				left: 200px;
				display: flex;             /* enable flex */
				justify-content: center;   /* horizontal center of block content */
				align-items: center;       /* vertical center of block content */				
				text-align: center;        /* center each line of text */
				flex-direction: column;    /* stack multiple elements vertically if needed */
				}

.popover_name_btnCheck	{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;             /* allow centering the image */
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    overflow: hidden;          /* clip anything outside the container */
	display:none;
}

.popover_name_btnCross	{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;             /* allow centering the image */
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    overflow: hidden;          /* clip anything outside the container */
	display:none;
}

.popover_name_btnCross img,
.popover_name_btnCheck img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* preserve aspect ratio without stretching */
    display: block;      /* remove inline spacing */
}

/* button config */
		
button 	{
		background: none;       /* remove gray background */
		border: none;           /* remove border */
		padding: 0;             /* remove default spacing */
		margin: 0;
		box-shadow: none;       /* remove drop shadow */
		outline: none;          /* remove focus outline (be careful for accessibility!) */
		cursor: pointer;        /* make it still look clickable */
		}

/* Button config border if wanted
	
button:focus 	{
				outline: 2px solid #00f;   /* example: blue focus ring 
				outline-offset: 2px;
				}
*/