/* Colours */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Font */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../font/The Rift Shop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0E0301;
    font-family: 'MyCustomFont', Arial, sans-serif;
}

/* Headings */
h1 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

h2 {
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}

.Scores	{
		width: 1400px;
		height: 800px;
		/*border: 5px solid #00FF00;*/
		top: 180px;
		left: 258px;
		right: 100px;
		padding: 15px;
		position: absolute;
		}
		
.Scores h1	{
			font-family: 'MyCustomFont', Arial, sans-serif;
			font-size: 50px;
			color: #FFFFFF;
			position: absolute;
			top: 0%;
			left: 0%;
			text-align: center;
			}

.title	{
		width: 1400px;
		height: 100px;
		/*border: 5px solid #00FF00;*/
		top: 40px;
		left: 258px;
		right: 100px;
		padding: 15px;
		position: absolute;
		}

.title h1	{
			font-family: 'MyCustomFont', Arial, sans-serif;
			font-size: 100px;
			color: #FFFFFF;
			position: absolute;
			top: -40%;
			left: 50%;
			text-align: center;
			}