/* Colours are as follows */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Basic functionalities of body */

@font-face 	{
			font-family: 'MyCustomFont';
			src: url('../font/The Rift Shop.otf') format('opentype');
			font-weight: normal;
			font-style: normal;
			}
body	{
		background-color: #0E0301;
		font-family: 'MyCustomFont', Arial, sans-serif;
		}		
		
h1		{
		font-family: Arial;
		font-size: 15p;
		color: #FFFFFF;
		}

h2		{
		font-family: Arial;
		font-size: 10p;
		color: #FFFFFF;
		}
		
.body {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
}
			
.container_startBtn	{	
			width: 500px;
			height: 200px;
			position: absolute;
			top: 280px;
			left: 700px;
			display:inline-flex;
			align-items: center;
			justify-content: center;
			}
			
.container_quitBtn	{	
			width: 500px;
			height: 200px;
			position: absolute;
			top: 590px;
			left: 700px;
			display:inline-flex;
			align-items: center;
			justify-content: center;
			}

.container_startBtn img,
.container_quitBtn img 	{
				  max-width: 100%;
				  max-height: 100%;
				  width: auto;
				  height: auto;
				  object-fit: contain;
				  display: block;
				}
					
/* button config */
		
.container_startBtn button,
.container_quitBtn button {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
  			background: none;
			border:none;
}

/* Button config border if wanted
	
button:focus 	{
				outline: 2px solid #00f;   /* example: blue focus ring 
				outline-offset: 2px;
				}
*/