* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel [role='list'] {
  padding: opx;
  list-style: none;
}
.carousel-media {
  /* Arrange media horizontally */
  display: flex;
}

.carousel-scroll-container {
  /* Enable horizontal scrolling */
  overflow-x: auto;
}

.carousel-item {
  /* Limit the height of each media item */
  height: 50px;
  /*margin to other items */
  margin-right: 5px;
  margin-bottom: 5px;
  /* Prevent media from shrinking */
  flex-shrink: 0;
}
/* Target direct descendant too in case the images have a wrapper parent */
.carousel-item > *,
.carousel-item :is(picture, figure, img) {
  height: 100%;
}
.carousel-item img {
  /* Remove line height (typically done in a CSS reset) */
  display: block;
  /* Responsive width based on aspect ratio */
  width: auto;
}

/* scroll snap */

.element {
  scroll-snap-type: [x|y] [proximity|mandatory];
}

.carousel-scroll-container {
  /* Enable horizontal scroll snap */
  scroll-snap-type: x proximity;
  /* Smoothly snap from one focal point to another */
  scroll-behavior: smooth;
}

.carousel-item {
  /* The focal point for each item is the center */
  scroll-snap-align: center;
}

.carousel-item:first-of-type {
  /* Allow users to fully scroll to the start */
  scroll-snap-align: start;
}
.carousel-item:last-of-type {
  /* Allow users to fully scroll to the end */
  scroll-snap-align: end;
}

.slideshow .carousel-scroll-container {
  /* Mandatory scroll snap is more consistent for a slideshow */
  scroll-snap-type: x mandatory;
}
.slideshow .carousel-item {
  /* Or whatever value works for you */
  height: 300px;
  /* Full-width slides */
  width: 100%;
}
.slideshow .carousel-item > *,
.slideshow .carousel-item :is(picture, figure img) {
  /* Cover the slide */
  width: 100%;
  height: 100%;
}
.slideshow .carousel-item img {
  /* Crop and center overflowing images */
  object-fit: cover;
  object-position: center;
}

