/* Colours are as follows */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Only use for main containers, functions in other CSS files */

body	{
		background-color: #0E0301;
		}		
		
.carousel	{
			width: 500px;
			height: 500px;
			border: 5px solid;
			border-color: #00FF00;
			top: 50px;
			left: 100px;
			right: 100px;
			padding: 10px;
			position: absolute;
			}

h1			{
			font-family: Arial;
			font-size: 15p;
			}
			
:popover-open	{
				width: 750px;
				height: 750px;
				border: 5px solid;
				border-color: #00FF00;
				position: absolute;
				top: 40px;
				left: 40px;
				}