/* Colours are as follows */
/* Black: #0E0301 */
/* Lime: #00FF00 */

/* Only use for main containers, functions in other CSS files */

body	{
		background-color: #0E0301;
		}		
		
.carousel	{
			width: 500px;
			height: 500px;
			border: 5px solid;
			border-color: #00FF00;
			top: 50px;
			left: 100px;
			right: 100px;
			padding: 10px;
			position: absolute;
			}

h1			{
			font-family: Arial;
			font-size: 15p;
			}

			
.popover {
  width: 650px;
  min-height: 550px;
  max-height: 550px;
  border: 5px solid #00FF00;
  background: black;
  position: absolute;
  top: 40px;
  left: 40px;

  opacity: 0;
  transform: translateY(10px); /* Add subtle slide effect */
  transition: opacity 1s ease, transform 1s ease;
  pointer-events: none;
  z-index: 999;
}

.popover.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.popover_type	{
				width: 125px;
				height: 75px;
				border: 5px solid;
				border-color: #00FF00;
				background-color: #FFFFFF;
				position: absolute;
				top: 40px;
				left: 40px;
				}

.popover_img	{
				width: 100px;
				height:100px;
				border: 5px solid;
				border-color: #00FF00;
				background-color: #FFFFFF;
				position: absolute;
				top: 40px;
				right: 140px;
				}
				
.popover_img img	{
					 width: 100%;
					height: 100%;
					object-fit: contain;
					}